<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/font.css">
</head>
<body>
<div class="wrap">
    <main class="main">
        <h1 class="error-code">4<span>0</span>1</h1>
        <div class="error-content">
            <h2 >권한이 없습니다.</h2>
            <p>
                로그인 후 다시 이용해 주세요.
            </p>
        </div>
        <div class="option-box">
            <button onclick="window.history.back()">뒤로가기</button>
        </div>
    </main>
</div>
</body>
</html>