<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/font.css">
</head>
<body>
<div class="wrap">
    <main class="main">
        <h1 class="error-code">5<span>0</span>0</h1>
        <div class="error-content">
            <h2 >서버 에러 발생.</h2>
            <p>
                서버 에러입니다.
            </p>
        </div>
        <div class="option-box">
            <button onclick="window.history.back()">뒤로가기</button>
        </div>
    </main>
</div>
</body>
</html>