<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comiclub</title>
    <link rel="stylesheet" href="/css/club/board.css">
    <div th:replace="~{views/common_layout :: common_css}"></div>
    <div th:replace="~{views/board/layout :: board_layout_css}"></div>
    <div th:replace="~{views/common_layout :: footer_css}"></div>
</head>
<body>
    <div th:replace="~{views/common_layout :: common_wrap(~{::main}, ~{::footer})}">
        <div th:replace="~{views/board/layout :: board_layout(~{::content})}" th:fragment="main">

            <div th:fragment="content">
                <div class="club__info"><a th:href="|/clubs/${club.id}|" th:text="${club.clubName}"></a></div>
                <div class="board__option flex align-items-center" th:with="topic=${param.topic}">
                    <button class="topic-button" th:classappend="!${param.topic} ? on" th:onclick="|location.href='/clubs/${club.id}'|">전체</button>
                    <button class="topic-button" th:classappend="${#strings.equals(topic, 'best')} ? on" th:onclick="|location.href='/clubs/${club.id}?topic=best'|">인기</button>
                    <button class="topic-button" th:classappend="${#strings.equals(topic, 'free')} ? on" th:onclick="|location.href='/clubs/${club.id}?topic=free'|">자유</button>
                    <button class="topic-button" th:classappend="${#strings.equals(topic, 'work')} ? on" th:onclick="|location.href='/clubs/${club.id}?topic=work'|">작품</button>
                    <button class="topic-button" th:classappend="${#strings.equals(topic, 'question')} ? on" th:onclick="|location.href='/clubs/${club.id}?topic=question'|">질문</button>
                    <div class="grow">
                        <button class="write-board__button" th:onclick="|location.href = '/clubs/${club.id}/board'|">글쓰기</button>
                    </div>
                </div>
                <div class="board-list">
                    <div class="list-head">
                        <span class="b-num">번호</span>
                        <span class="b-topic">주제</span>
                        <span class="b-title">제목</span>
                        <span class="b-writer">작성자</span>
                        <span class="b-date">날짜</span>
                        <span class="b-view">조회</span>
                        <span class="b-like">추천</span>
                    </div>
                    <ul class="notice__list list-body">
                        <li th:each="notice : ${notices}">
                            <div class="list-item">
                                <div class="b-num" th:text="${notice.id}">번호</div>
                                <div class="b-topic">공지</div>
                                <div class="b-title">
                                    <img th:if="${notice.adultOnly}" src="/img/adultOnlyImg.png">
                                    <a th:href="|/clubs/${club.id}/boards/${notice.id}|" th:text="${notice.title}">>제목</a>
                                    <span class="total-comment" th:text="|[${notice.totalComments}]|">댓글 수</span>
                                </div>
                                <div class="b-writer" th:text="${notice.writer}">작성자</div>
                                <div class="b-date" th:text="${{notice.createdDate}}">작성일</div>
                                <div class="b-view" th:text="${notice.totalView}">조회수</div>
                                <div class="b-like" th:text="${notice.totalLike}">추천수</div>
                            </div>
                        </li>
                    </ul>
                    <div>
                        <div id="notice__shower" data-fold="true">
                            <span>공지사항 더 보기 ▼</span>
                        </div>
                    </div>
                    <ul class="normal__list list-body">
                        <li th:each="board : ${page.content}">
                            <div class="list-item">
                                <div class="b-num" th:text="${board.id}">번호</div>
                                <div class="b-topic" th:text="${{board.topic}}">주제</div>
                                <div class="b-title" th:onclick="|location.href='/clubs/${club.id}/boards/${board.id}'|" >
                                    <img th:if="${board.adultOnly}" src="/img/adultOnlyImg.png">
                                    <span th:text="${board.title}">제목</span>
                                    <span class="total-comment" th:text="|[${board.totalComments}]|">댓글 수</span>
                                </div>
                                <div class="b-writer" th:text="${board.writer}">작성자</div>
                                <div class="b-date" th:text="${{board.createdDate}}">작성일</div>
                                <div class="b-view" th:text="${board.totalView}">조회수</div>
                                <div class="b-like" th:text="${board.totalLike}">추천수</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="board-option-cont">
                    <th:block th:with="
                                 totalPage=${page.totalPages},
                                 pageNumber=${page.number},
                                 pageSize=${page.size},
                                 pageIndex=${pageNumber / 10 + 1},
                                 startPage=${pageIndex * 10 - 9},
                                 hasNextIndex=${totalPage - startPage >= 10},
                                 hasPrevIndex=${startPage - 10 >= 1},
                                 endPage=${hasNextIndex ? (pageIndex) * 10 : totalPage}"
                    >
                        <div class="paging-cont" th:if="${startPage < endPage}">
                            <button class="prev-page-button page-button" th:if="${hasPrevIndex}" th:onclick="|goPage(${startPage - 10})|">&lt;</button>
                            <th:block th:if="${totalPage != 0}" th:each="num : ${#numbers.sequence(startPage,endPage)}">
                                <button class="page-button" th:classappend="${num == pageNumber + 1} ? 'page-on' : _" th:text="${num}" th:onclick="|goPage(${num})|"></button>
                        </th:block>
                            <button class="next-page-button page-button" th:if="${hasNextIndex}" th:onclick="|goPage(${endPage + 1})|">&gt;</button>
                        </div>
                    </th:block>
                    <div class="search-bar flex">
                        <div class="search-box">
                            <select class="search__option">
                                <option value="title" th:selected="${#strings.equals(param.type, 'title')}">제목</option>
                                <option value="content" th:selected="${#strings.equals(param.type, 'content')}">내용</option>
                                <option value="writer" th:selected="${#strings.equals(param.type, 'writer')}">작성자</option>
                                <option value="comment" th:selected="${#strings.equals(param.type, 'comment')}">댓글</option>
                            </select>
                            <input type="text" class="middle" placeholder="검색어 입력">
                            <button class="search-button middle" onclick="searchFreeBoard()"><img src="/img/searchImg.png"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{views/common_layout :: footer_layout}" th:fragment="footer"></footer>
    </div>
    <script th:inline="javascript">
        const topic = [[${condition.topic}]];
        const type = [[${condition.type}]];
        const keyword = [[${condition.keyword}]];

        const noticeList = document.querySelector('.notice__list');
        const noticeShower = document.getElementById('notice__shower');
        noticeShower.addEventListener("click", () => {
            const fold = noticeShower.dataset.fold;
            if(fold === "true"){
                noticeList.style.maxHeight = "fit-content";
                noticeShower.dataset.fold = "false";
                noticeShower.innerText = "공지사항 접기 ▲"
            }else{
                noticeList.style.maxHeight = "108px"
                noticeShower.dataset.fold = "true";
                noticeShower.innerText = "공지사항 더 보기 ▼"
            }
        })

        function searchFreeBoard() {
            const typeSelector = document.querySelector('.search__option');
            const type = typeSelector[typeSelector.selectedIndex].value
            const keyword = document.querySelector('.search-bar input');
            location.href=`/clubs/${club.id}?type=${type}&topic=${topic}&keyword=${keyword.value}`
        }

        function goPage(pageNum) {
            location.href = `${location.href.split('?')[0]}?topic=${topic}&type=${type}&keyword=${keyword}&page=${pageNum}`;
        }


    </script>
</body>
</html>