<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Comiclub</title>
  <th:block th:fragment="common_css">
    <link rel="stylesheet" href="/css/club/reset.css">
    <link rel="stylesheet" href="/css/class_style.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/header.css">
    <script>window.addEventListener("load", () => document.body.classList.remove("preload"));</script>
    <style>
        .preload{
            transition: none !important;
        }
        </style>
  </th:block>
  <link th:fragment="footer_css" rel="stylesheet" href="/css/footer.css">


</head>
<body>

</body>
</html>